h1 {
    text-align: center;

}
#labirinto {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width = 300px;
    
}
.cel {
    width: 15px;
    height: 15px;
    text-align: center;
}
#start {
    width: 15px;
    height: 15px;
    text-align: center;
}
#finish {
    width: 15px;
    height: 15px;
    text-align: center;
}
.linha {
    display: flex;
    flex-direction: row;
}
#jogador {
    position: relative;
    right: 100px;
    left: -165px;
    top: -90px;
}
h2 {
    text-align: center;
}